body{
  /* width: 480px; */
  width: 95%;
  margin: 0 auto;
}
#header{
  /* width: 480px; */
  width: 95%;
}
#main{
  /* width: 300px; */
  width: 100%;
  float: left;
}
#side{
  /* width: 120px; */
  /* width: 15%; */
  float: right;
}
#footer{
  clear: both;
  /* width: 480px; */
  width: 95%;
}
