{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'cms/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'cms/css/custom.css' %}"> 
  {% endblock %}

  <title>{% block title %}PyBlog {{ blog.title }}{% endblock %}</title>

  <!-- adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2105848979003764",
          enable_page_level_ads: true
     });
  </script>

  <hr>
</head>

<body>
  <header id="header">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2105848979003764"
       data-ad-slot="3642207593"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <hr>
  </header>

  <main id ="main">
    <p>
    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>
  </main>

  <div id="side">
    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
      <!-- 楽天 books1 -->
      <a href="https://hb.afl.rakuten.co.jp/hsc/182428fd.410553f8.181baec8.25e66a1b/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjowLCJjYXQiOiIxIiwiYmFuIjoiNjQ0MDgyIn0%3D" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hlb/182428fd.410553f8.181baec8.25e66a1b/?sid=1&shop=book&size=1&kind=1&me_id=1213310&me_adv_id=644082&t=pict" border="0" style="margin:2px" alt="" title=""></a>
    </div>
    <br><br>

    <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
      <!-- 楽天 2 : https://affiliate.rakuten.co.jp/link/widget/?l-id=affiliate_PC_low_regular_a9 -->
      <script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="0c0075c6.a36aa246.0c0075c7.fac133f7";rakuten_items="ranking";rakuten_genreId="0";rakuten_size="120x600";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="on";rakuten_auto_mode="on";rakuten_genre_title="off";rakuten_recommend="on";rakuten_ts="1553406827179";</script><script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
    </div>
    <br><br>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告2 -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2105848979003764"
      data-ad-slot="4990716775"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <footer id="footer">
    <hr>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告3 -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2105848979003764"
      data-ad-slot="5181578021"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136559365-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136559365-1');
    </script>
  </footer>
</body>

</html>
