{% load i18n static %}
{% load bootstrap4 %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T29BXJC');</script>
  <!-- End Google Tag Manager -->

  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'cms/css/bootstrap.min.css' %}"> 
  <link rel="stylesheet" href="{% static 'cms/css/custom.css' %}"> 
  {% endblock %}

  <!-- favicon.ico -->
  <meta name="msapplication-square70x70logo" content="{% static 'favicon/site-tile-70x70.png' %}">
  <meta name="msapplication-square150x150logo" content="{% static 'favicon/site-tile-150x150.png' %}">
  <meta name="msapplication-wide310x150logo" content="{% static 'favicon/site-tile-310x150.png' %}">
  <meta name="msapplication-square310x310logo" content="{% static 'favicon/site-tile-310x310.png' %}">
  <meta name="msapplication-TileColor" content="#0078d7">
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{% static 'favicon/favicon.ico' %}">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'favicon/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-touch-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-touch-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-touch-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-touch-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-touch-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="36x36" href="{% static 'favicon/android-chrome-36x36.png' %}">
  <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon/android-chrome-48x48.png' %}">
  <link rel="icon" type="image/png" sizes="72x72" href="{% static 'favicon/android-chrome-72x72.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/android-chrome-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="128x128" href="{% static 'favicon/android-chrome-128x128.png' %}">
  <link rel="icon" type="image/png" sizes="144x144" href="{% static 'favicon/android-chrome-144x144.png' %}">
  <link rel="icon" type="image/png" sizes="152x152" href="{% static 'favicon/android-chrome-152x152.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="256x256" href="{% static 'favicon/android-chrome-256x256.png' %}">
  <link rel="icon" type="image/png" sizes="384x384" href="{% static 'favicon/android-chrome-384x384.png' %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/android-chrome-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="36x36" href="{% static 'favicon/icon-36x36.png' %}">
  <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon/icon-48x48.png' %}">
  <link rel="icon" type="image/png" sizes="72x72" href="{% static 'favicon/icon-72x72.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/icon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="128x128" href="{% static 'favicon/icon-128x128.png' %}">
  <link rel="icon" type="image/png" sizes="144x144" href="{% static 'favicon/icon-144x144.png' %}">
  <link rel="icon" type="image/png" sizes="152x152" href="{% static 'favicon/icon-152x152.png' %}">
  <link rel="icon" type="image/png" sizes="160x160" href="{% static 'favicon/icon-160x160.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="196x196" href="{% static 'favicon/icon-196x196.png' %}">
  <link rel="icon" type="image/png" sizes="256x256" href="{% static 'favicon/icon-256x256.png' %}">
  <link rel="icon" type="image/png" sizes="384x384" href="{% static 'favicon/icon-384x384.png' %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicon/icon-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/icon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="24x24" href="{% static 'favicon/icon-24x24.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/icon-32x32.png' %}">
  <link rel="manifest" href="{% static '/manifest.json' %}">

  <title>{% block title %}PyBlog {{ blog.title }}{% endblock %}</title>

  <!-- adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2105848979003764",
          enable_page_level_ads: true
     });
  </script>

  <hr>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T29BXJC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header id="header">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2105848979003764"
       data-ad-slot="3642207593"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  <hr>
  </header>

  <center>
  <! -- 楽天広告: https://affiliate.rakuten.co.jp/link/pc/shop?cmd=shop&me_id=1213310&shop.x=51&shop.y=13 -->
  </center>

  <main id ="main">
    <p>
    <section class="section">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>
  </main>

  <div id="side">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告2 -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2105848979003764"
      data-ad-slot="4990716775"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <br><br>

   
    <!-- 広告4 
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2105848979003764"
      data-ad-slot="9908496378"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    -->

  </div>

  <footer id="footer">
    <hr>
  <center>
  <!-- 楽天 : https://affiliate.rakuten.co.jp/link/widget/?l-id=affiliate_PC_low_regular_a9 -->
  </center>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 広告3 -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-2105848979003764"
      data-ad-slot="5181578021"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136559365-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136559365-1');
    </script>
  </footer>
</body>

</html>
